[Unit]
Description=ati_clocks
After=suspend.target hibernate.target sysinit.target hybrid-sleep.target
Requires=display-manager.service

[Service]
ExecStart=/usr/bin/ati_clocks
Type=oneshot

[Install]
Alias=ati_clocks.service
WantedBy=sysinit.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
